.hiring-admin{
    padding: 51px;
    display: flex;
    align-items: center;
    justify-content:space-between;    
}

/* .hiring-admin button{
    background-color: #ffdd7e;
    border-radius: 4em;
    width: 9%;
    height: 41px;
} */

.filtering-hiring{
    background-color: white ;
    width: 93%;
    margin: auto;
    border-radius: 1em;
    height: 88px;
}

.filter-contents{
    display: flex;
}
.contents-list{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 2em;
    padding: 25px;
    list-style: none;
    width:100%
}

.hiring-table{
    background-color: white;
    width: 92%;
    border-radius: 1em;
    margin: auto;
    padding: 34px;
}

.hiring-table tbody tr {
    background-color: whitesmoke; /* Set the background color for even rows */
    border-bottom: 1px solid #ccc; /* Add a border between rows for better visual separation */
    margin-bottom: 10px; /* Add margin to create a gap between rows */
    height:5px;

}

.status-buttons Button{
    justify-content: space-evenly;
}















/* Styles for screens smaller than 768px (Tablet) */
@media only screen and (max-width: 768px) {
  .hiring-admin {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .hiring-admin button {
    width: 100%;
    margin-top: 10px;
  }

  .filtering-hiring {
    width: 100%;
    border-radius: 0;
  }

  .contents-list {
    justify-content: center;
    padding: 10px 0;
  }

  .hiring-table {
    width: 100%;
    padding: 20px;
  }

  .hiring-table tbody tr {
    background-color: transparent;
    border-bottom: none;
    margin-bottom: 0;
    height: auto;
  }
}

/* Styles for screens smaller than 576px (Mobile) */
@media only screen and (max-width: 576px) {
  .hiring-admin {
    padding: 10px;
  }

  .hiring-admin button {
    width: 100%;
    margin-top: 10px;
  }

  .filtering-hiring {
    width: 100%;
    border-radius: 0;
    height: auto; /* Remove fixed height */
    padding: 10px; /* Adjust padding */
  }

  .contents-list {
    justify-content: center;
    padding: 10px 0;
  }

  .hiring-table {
    width: 100%;
    padding: 10px; /* Adjust padding */
  }

  .hiring-table tbody tr {
    background-color: transparent;
    border-bottom: none;
    margin-bottom: 0;
    height: auto;
  }
}
